.App {
  text-align: center;
}

.main {
  clear: both;
  text-align: left;
  margin: 15px 15px;
}

.list-no-style {
  list-style: none;
  /*padding-left: 8px;*/
}

/* list items */
.list-item-icon:nth-of-type(2n + 1) {
  margin: 0 6px;
}

.list-item-icon-lg {
  font-size: 1.5em;
  margin-left: 10px;
}

.row {
  display: flex;
  flex-flow: row no-wrap;
}

.formGroup {
  margin: 8px 0;
}

.div-control {
  margin-bottom: 16px;
}

@media (min-width: 768px) {
  .main {
    margin: 15px 35px;
  }

}